*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.row{
    width: 100%;
    display: flex;
   
}

.container{
    max-width: 1100px;
    
    margin: auto;
}
.container-90{
    max-width: 1200px;
    
    margin: auto;
}
.flex{
    display: flex;
}
h2 {
    font-size: 50px;
}
.col-100{
    width: 100%;
}
.col-33{
    width: 33%;
}
.col-50{
    width: 50%;
}
.col-30{
    width: 30%;
}
.col-70{
    width: 70%;
}
.col-60{
    width: 60%;
   
}
.col-40{
    width: 40%;
   
}
.col-20{
    width: 20%; 
}

.height-100{
    height: 100px;
}
.height-500{
    height: 500px;
}
.pg-20{
    padding: 20px;
}

.left{
  justify-content: flex-start;
}
.right{
    justify-content: flex-end;
}
img{
    width: 100%;
}

/* header  */
.content-header{
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}

.content-header > .items-container{
  
    width: 50%;
    display: flex;
    line-height: 2;
   
}
.items-container>.items{
    margin: 0 10px ;
    
}
/* INIZIO JUMBOTRON  */

.jumbotron-title{
    margin: 50px 0;
    font-size: 50px;
}
.jumbotron{
    background-color: rgb(119, 173, 220);

}
.jumbotron-text{
    font-size: 20px;
    margin-bottom: 10px 0;
}
.bt-jumbotron{
    width: 70%;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 8px;
    border: none;
    margin: 30px 0;
    font-size: 20px;
    
}
.arrow{
    margin-top: 80px;
    font-size: 70px;
  
}

/* INIZIO SUBSCRIPTION */
.content-subscription-title{
    margin: 50px 0 50px 0;
}
.radio-subscription{
    margin: 20px 0;
    font-size: x-large;
}

.content-subscription{
    
    margin: 10px;
    border: 1px solid black;
   

}
.sub-cont{
    padding: 30px;
    position: relative;
}
.content-subscription-bottom{
    margin: 10px;
    border: 1px solid black;
}
.content-subscription>h4{
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    padding: 5px;
    border-bottom: 1px solid black;
}
.sub-cont>h3{
    margin: 10px 0;
    font-size: xx-large;
}
.sub-cont>.price{
    font-weight: bold;
    line-height: 2;
}
.sub-cont>.info{
    margin-bottom:  40px  ;
    display: block;
    color: grey;

}
.sub-cont>p{
    margin: 20px 0;
    font-size: large;
}

.sub-cont>button{
    width: 80%;
    padding: 10px;
    background-color: rgb(38, 38, 248);
    border: none;
    color: white;
    margin: 30px 0 20px 0;
}
.sub-cont>h5{
    font-size: 20px;
    margin: 30px 0 20px 0;
}
.sub-cont>hr{
    width: 20%;
}
.sub-cont>.bt-sub-bottom{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20%;
}
.sub-cont>.p-sub-bot{
    width: 50%;
}







/* INIZIO INVITO A UNIRSI A DROPOX */
.content-invite {
    margin:  100px 10px;
    
}
.content-invite.text-section{
    padding: 20px;
}
.content-invite>h3{
    font-size: xx-large;
    margin-top: 40px ;
}
.content-invite>p{
    font-size: large;
    margin: 10px 0;
}
.content-invite>button{
    width: 50%;
    padding: 10px;
    font-size: large;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 20px;
}





/* INIZIO FUNZIONI DROPOX */
.content-function{  
    width: 100%;
}
.function-title{
   
    width: 100%;
 
   margin: 50px 0 40px 0; 
   font-size: 40px;
}
.function-sections{
    display: flex;
    flex-wrap: wrap;
}
.function-section{
    padding: 10px;
}
.function-section>h3{
font-size: 30px;

}
.function-section>p{
    margin: 20px 0;
    font-size: 20px;
    
    }
.function-title-bottom{
    
    width: 100%;

   margin: 100px 0; 
}
.function-title-bottom>h3{
    width: 70%;
    font-size: 40px;
    margin: 100px 0 30px 0;
}




/* INIZIO QUADRATI CON LOGO */
 .square-sections{
    display: flex;
 }
 
.large-square{
    width: calc(100vw/3);
    height: calc(100vw/3);
    border: 2px solid white;
    background-color: #F5F5F5;
 }
 .mark-square{
    display: flex;
    flex-wrap: wrap;
 }
 .small-square{
    height: 50%;
    width: 50%;
    background-color: #D2E9CD;
    border: 2px solid white; 
    
   
 }
.logo-square{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}
.img-logo-square{
    width: 50%;
    filter: invert(100%);
}
.central-square-logo{
    width: 50%;
}
.central-square{
    padding: 50px;
}
.central-square>hr{
    width: 100px;
    margin: 50px 0;
}
.central-square>.autors{
    margin: 50px 0;
    
}



 /* INIZIO INVITE BRAND  */
 .invite-brand{
    width: 100vw;
    background-color: skyblue;
 }
 .content-invite-brand{
   
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
 }
 .content-invite-brand>h3{
    font-size: xx-large;
    width: 35%;
    color: #62092B;
 }
 .content-invite-brand>button{
    width: 30%;
    border: none;
 }
 /* INIZIO FAQ  */
.faq-title{
   
    font-size: 40px;
    margin: 150px 0 50px 0;
}
.faq-cont{
   
    
    margin-bottom: 150px;
    border-bottom: 1px solid black;

}
.faq{
   
    border-top:1px solid black ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    font-weight: bold;
    border-collapse:initial;

}
/* INIZIO FOOTER  */
.menu-footer{
    padding: 30px;

}

.footer-list{
  
 margin-top: 30px;
 color: white;
 

}
.ft-hr{
    width: 15%;
    margin-top: 100px;
}
.footer-list>ul{
    list-style-type: none;
    line-height: 2;
}
.footer-list>h3{
    font-size: 25px;
    margin-bottom: 20px;
}
.menu-footer-content{
    display: flex;
}
.info-footer-content>select{
    margin-bottom: 40px ;
    background-color: black;
    color: white;
    border: #62092B;
    width: 20%;
}
footer{
    background-color: black;

}
li:hover{
    color: aqua;
}

/* colori di sfondo */
.bg-blue{
    background-color: blue;
}
.bg-red{
    background-color: red;
   
}
.bg-green{
    background-color: #A2D39B;
 
}
.bg-darkred{
    background-color: #D50020;
}
.bg-lightblue{
    background-color: #0093CE;
}
.bg-bordeaux{
    background-color: #62092B;
}
.bg-cyan{
    background-color: #0093CE;
}
.bg-skyblue{
    background-color: skyblue;
}
.bg-yellow{
    background-color: #FFD830;
}
.green{
    color: green;
}
